@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
}
:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: 'Bebas Neue', cursive;
    --font-android: 'Android', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #c5ebd6;
    font-family: var(--fonte-padrao);
}

a.externo::after {
    content: '\00A0\1F517';
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    text-shadow: 2px 2px 0 rgb(0, 0, 0);
}

header > h1 {
    color: white;
    font-family: var(--font-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;   
}

header > p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
} 

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.199);
}

nav a {
    color: var(--cor1);
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    border-radius: 2px;
    transition-duration: 0.5s;
}

nav a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}

main {
    background-color: white;
    min-width: 280px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.418);
    border-radius: 0 0 10px 10px;
}

main h1 {
    color: var(--cor5);
    font-family: var(--font-android);
    font-size: 1.8em;
}

main h2 {
    color: var(--cor4);
    font-family: var(--font-android);
    font-size: 1.3em;
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    padding-left: 10px;
}

main p {
    margin: 15px 0;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
}

main strong {
    color: var(--cor4);
    font-weight: bold;
    padding: 2px 6px;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}

main img {
    width: 100%;
}

main img.bugdroid {
    display: block;
    max-width: 350px;
    margin: auto;
}

.video {
    background-color: var(--cor5);
    margin: 0 -20px 30px -20px;
    padding: 15px;
    padding-bottom: 55.2%;
    position: relative;
}

.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.308);
    border: var(--cor3) solid 1px;
}

aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px;
    border-radius: 10px 10px 0 0;
}

aside > ul {
    list-style-position: inside;
    list-style-type: '\1F4F1\00A0\00A0';
    columns: 2; 
    text-indent: 30px;
    font-size: 0.8em;
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}